
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #18191a;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

.logo a {
    position: relative;
    color: #6495ed;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
}

.logo a:after {
    content: "";
    position: absolute;
    background-color: #6495ed;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

.logo a:hover {
    color: #fff;
    transition: 0.3s;
}

.logo a:hover:after {
    width: 100%;
}

.menu__items {
    display: flex;
}

.menu__bar {
    display: none;
}

.menu__items .menu__list {
    list-style: none;
}

.menu__items .menu__list a {
    position: relative;
    padding: 0 20px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1.5px;
}

.menu__items .menu__list a:after {
    content: "";
    position: absolute;
    background-color: #6495ed;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

.menu__items .menu__list a:hover:after {
    width: 100%;
}

.menu__items #playBtn, #stopBtn {
    font-size: 24px;
    padding: 0 20px 0;
    color: #6495ed;
    cursor: pointer;
}

.header-banner {
    display: flex;
    justify-content: space-between;
}

.header-text {
    margin-top: 15%;
    font-size: 30px;
    color: #fff;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #6495ed;
}

.header-text .music-player {
    width: 100%;
    padding: 25px 35px;
    text-align: center;
}

.music-player h1 {
    font-size: 20px;
    color: #fff;
}

.music-player p {
    font-size: 15px;
    color: #fff;
}

#progress {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #6495ed;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #6495ed;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div {
    width: 60px;
    height: 60px;
    margin: 0 20px;
    display: inline-block;
    cursor: pointer;
    padding: 0 20px;
}

.header-banner img {
    margin-top: 5%;
    width: 600px;
    height: 600px;
    border-radius: 50%;
}

#about {
    width: 100%;
    height: 120vh;
    background: linear-gradient(to bottom, #18191a, #18191a);
}

.about-me .about-me-h1 {
    padding-top: 100px;
    font-size: 48px;
    color: #fff;
    text-align: center;
    text-shadow: 0.5px 0.5px 1.5px #6495ed;
}

.about-me .card-about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #18191a;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2.5);
    transition: 0.3s;
}

.about-me .card-about-me:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 5);
}
  
.about-me .card-about-me h2 {
    color: #fff;
}

.about-me .card-about-me .about-me-span {
    color: #6495ed;
    text-shadow: 0.5px 0.5px 1.5px #6495ed;
}

.about-me .card-about-me .about-me-span-1 {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 5px;
}

#contacts {
    width: 100%;
}

.contact-me .contact-me-h1 {
    font-size: 48px;
    color: #fff;
    text-align: center;
    text-shadow: 0.5px 0.5px 1.5px #6495ed;
    padding-bottom: 20px;
}

.contact-me .card-contact-me {
    width: 100%;
    height: 240px;
    background-color: #232324;
    padding: 50px;
    border-radius: 30px;
}

.card-contact-me a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-top: 15px;
}

.card-contact-me a i {
    margin-right: 10px;
}

footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

footer .social__icon li {
    list-style: none;
}

footer .social__icon li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social__icon li a:hover {
    transform: translateY(-10px);
}

footer #contact-me {
    font-size: 24px;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 15px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}


/* device menu */

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 5px;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

#sub__menu {
    top: 10%;
    position: absolute;

}

.device__menu__bar {
    /* margin-right: 20px; */
    background: #3586ff;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 5);
}

.device__menu__bar .device__menu__list { list-style: none; }
.device__menu__bar .device__menu__list a { 
    text-decoration: none;
    font-size: 16px; 
    font-size: 22px;
}

.device__menu__bar .device__menu__list a i {
    padding: 15px;
    color: #fff;
    text-shadow: 0.5px 0.5px 1.5px #18191a;
}

